


    <!-- rating-form -->
<div>
  <h3>{{"Rate this product:" | translate}}</h3>
  <form (submit)="submitRating()">
    <!-- product selected name -->
    <div>
      <p style="margin-bottom: 5px;"> {{"YOU'RE REVIEWING:" | translate}}&nbsp;</p>
      <span style="color: red;">{{ productName }}</span>
    </div>
    
    <label for="nickname">{{"Nickname:" | translate}}</label>
    <pre></pre>
    <div class="input-box">
    <input type="text" [(ngModel)]="nickname" name="nickname" required id="nickname"
    placeholder="Enter your Nickname" 
        #nickName="ngModel" pattern="[A-Za-z]{3,}" 
        [ngClass]="{'is-invalid':(nickName.touched || nickName.dirty&&nickName.invalid)}" style="padding: .25rem;">

        <span class="invalid-feedback">
            <span *ngIf="nickName.errors?.['required']" >{{"Please Enter your Nickname " | translate}}</span>
            <span *ngIf="nickName.errors?.['pattern']">{{"Please Nickname must be longer than 3 characters" | translate}}</span>
          </span>
    </div>

   <pre></pre>

    <label for="quality">{{"Quality:" | translate}}</label> 
    <pre></pre>

    <div class="input-box">
    <span class="star" (click)="onClick(1, 'quality')" [ngClass]="{ 'filled': quality >= 1 }">&#9733;</span>
    <span class="star" (click)="onClick(2, 'quality')" [ngClass]="{ 'filled': quality >= 2 }">&#9733;</span>
    <span class="star" (click)="onClick(3, 'quality')" [ngClass]="{ 'filled': quality >= 3 }">&#9733;</span>
    <span class="star" (click)="onClick(4, 'quality')" [ngClass]="{ 'filled': quality >= 4 }">&#9733;</span>
    <span class="star" (click)="onClick(5, 'quality')" [ngClass]="{ 'filled': quality >= 5 }">&#9733;</span>
    </div>

    <pre></pre>

    <label for="price">{{"Price:" | translate}}</label>

    <pre></pre>

    <div class="input-box">
    <span class="star" (click)="onClick(1, 'price')" [ngClass]="{ 'filled': price >= 1 }">&#9733;</span>
    <span class="star" (click)="onClick(2, 'price')" [ngClass]="{ 'filled': price >= 2 }">&#9733;</span>
    <span class="star" (click)="onClick(3, 'price')" [ngClass]="{ 'filled': price >= 3 }">&#9733;</span>
    <span class="star" (click)="onClick(4, 'price')" [ngClass]="{ 'filled': price >= 4 }">&#9733;</span>
    <span class="star" (click)="onClick(5, 'price')" [ngClass]="{ 'filled': price >= 5 }">&#9733;</span>
</div>

   <pre></pre>

    <label for="value">{{"Rating:" | translate}}</label>

    <pre></pre>

    <div class="input-box">
    <span class="star" (click)="onClick(1, 'value')" [ngClass]="{ 'filled': value >= 1 }">&#9733;</span>
    <span class="star" (click)="onClick(2, 'value')" [ngClass]="{ 'filled': value >= 2 }">&#9733;</span>
    <span class="star" (click)="onClick(3, 'value')" [ngClass]="{ 'filled': value >= 3 }">&#9733;</span>
    <span class="star" (click)="onClick(4, 'value')" [ngClass]="{ 'filled': value >= 4 }">&#9733;</span>
    <span class="star" (click)="onClick(5, 'value')" [ngClass]="{ 'filled': value >= 5 }">&#9733;</span>
</div>

       <pre></pre>

    <label for="review">{{"Review:" | translate}}</label>

    <pre></pre>

    <div class="control" >
    <textarea [(ngModel)]="review" name="review" id="review" style="width: 60%;min-height: 100px;max-height: fit-content;"></textarea>
    </div>

   <pre></pre>

    <button type="submit" class="btn custom-orange-red">{{"Submit Rating" | translate}}</button>
  </form>
</div>

