<div
#cartIcon
(click)="showCartDetails($event, cartIcon)"
 style="max-height: 250px;" >   

  <ng-container *ngIf="cartItems.length > 0">
  <div class="button-cart mx-auto row mb-2 mt-2">
     <button type="button" class="btn  mt-auto col-12" style="background-color: #ff6600;width:100%" [routerLink]="['/cart']">{{"VIEW CART" | translate}}</button>
    <!-- <div><span class="items-num position-absolute text-center mt-1">{{ cartItems.length }} Items</span></div> -->
   </div>
  </ng-container>
  <ng-container *ngIf="cartItems.length > 0; else emptyCart" >
    <!-- Loop through cart items and display card details -->
    <div class="container-fluid mt-20" style="max-height: 500px;overflow-y:scroll;direction: rtl;">
      <!-- Your card template goes here -->
      <div class="card mb-1 mt-1 " style="border-radius: 0;border: 1px solid #777;border-radius: 5px;" *ngFor="let item of cartItems">
        <div class="row g-0">
          <div class="col-md-4 col-lg-4 col-sm-4 col-4">
            <img [src]="item.image" class="card-img-top" alt="Product Image" />
          </div>
          <div class="col-md-8 col-lg-8 col-sm-8 col-8">
            <div class="card-body">
              <a [routerLink]="'/product/' + item.id" id="productName">
                <p class="card-title" style="font-size: xx-small;">{{ item.name | translate}}</p>
              </a>
              <p class="card-text" style="font-size: x-small;">{{"Price: " | translate}} {{ item.price | currency: "EGP" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- If cartItems is empty, show this message -->
  <ng-template #emptyCart>
    <div class="container">
      <div class="text-center mt-2 mb-3" style="color: white;">{{"You have no items in your shopping cart." | translate}}</div>
    </div>
  </ng-template>

</div>