


<div class="container row mb-2 d-flex justify-content-center mx-auto" style="width: 100%;padding: 0;margin: 0;">
  <div class="col-lg-10 col-md-10 col-sm-12 mx-auto align-items-center m-2">
    <div class="product-slider">
      <div class="card-container" #cardContainer>
        <div class="card" *ngFor="let product of AllProduct" (click)="handleCardLeftClick($event, product)" (contextmenu)="handleCardRightClick($event, product)">
          <!-- <div class="product col-lg-3 col-md-4 col-sm-6 col-6 mb-2 mt-2" *ngFor="let product of AllProduct" (click)="prodDetails(product.id)"> -->
            <!-- ********************************************* -->
                 <div class="product-card">

                  <div class="product-discount">
                    <p>OFF {{ product.discount | formatDiscount }}</p>
                  </div>
                     <div class="product-photo mb-2">
                      <img [src]="product.imgURL" class="card-img-top" alt="Product Image" />
                     </div>
                     
    
                     <div class="product-name mx-auto">
                      <p >{{ product.name}}</p>
                     </div>
    
                   <div class="product-rating mx-auto">
                    <ng-container *ngIf="product.rating !== undefined; else noRating">
                      <ng-container *ngFor="let star of getColoredStars(product.rating)">
                        <span class="star" [class.filled]="star === 1">&#9733;</span>
                      </ng-container>
                    </ng-container>
                    <ng-template #noRating>
                      <ng-container *ngFor="let star of getColoredStars(0)">
                        <span class="star">&#9733;</span>
                      </ng-container>
                    </ng-template>
                  </div> 
    
                  <div class="product-price mx-auto">
                    <p >{{ product.price | currency : "EGP" }}</p>
                  </div>
     
                  <div class="button-cart mx-auto row">
                    <button (click)="addToCart(product)" type="button" class="btn btn-primary mt-auto col-8">
                      <span><i class="fa-solid fa-cart-plus"></i> ADD TO CART</span>
                    </button>
                  </div>
                 </div>
            <!-- ********************************************* -->
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>











