


<div class="container row mb-2 d-flex justify-content-center mx-auto" style="width: 100%;padding: 0;margin: 0;">
  <div class="col-lg-10 col-md-10 col-sm-12 mx-auto align-items-center m-2">
    <div class="product-slider">
      <div class="card-container" #cardContainer>
        <div class="card" *ngFor="let product of products" (click)="handleCardLeftClick($event, product)" (contextmenu)="handleCardRightClick($event, product)" >
          <!-- <div class="product col-lg-3 col-md-4 col-sm-6 col-6 mb-2 mt-2" *ngFor="let product of AllProduct" (click)="prodDetails(product.id)"> -->
            <!-- ********************************************* -->
                 <div class="product-card">

                 <div class="row discount d-flex mb-2 " >
                  <div class="product-discount col-8 " style="text-align: left;margin-left: 8px;">
                    <ng-container *ngIf="product.discount">
                    <p>{{"OFF" | translate}} {{ product.discount | formatDiscount }}</p>
                  </ng-container>
                  </div >

                  <div class="col-4 text-right pl-10 heartButton">
                    <i class="fa-solid fa-heart-pulse" (click)="addToWishList(product)"></i>
                  </div>
               </div>

                     <div class="product-photo mb-2">
                      <img [src]="product.image" class="card-img-top" alt="Product Image" />
                     </div>


                     <div class="product-name mx-auto row"(click)="prodDetails(product.id)">
                      <p class="col-12">{{ product.name}}</p>
                      <div class="col-12">
                        <!-- <ng-container [ngSwitch]="product.stock" class="container">
                          <ng-container *ngSwitchCase="1" ><p class="text-center stockOut " style="color: rgb(255, 174, 0);">{{"Last One Item" | translate}}</p></ng-container>
                          <ng-container *ngSwitchCase="2" ><p class="text-center stockOut" style="color: rgb(255, 123, 0);">{{"Last Two Items" | translate}}</p></ng-container>
                          <ng-container *ngSwitchCase="0" ><p class="text-center stockOut" style="color: rgb(255, 0, 0);">{{"Out Of Stock" | translate}}</p></ng-container>
                        </ng-container> -->
                      </div>
                     </div>

                   <div class="product-rating mx-auto">
                    <ng-container *ngIf="product.rating !== undefined; else noRating">
                      <ng-container *ngFor="let star of getColoredStars(product.rating)">
                        <span class="star" [class.filled]="star === 1">&#9733;</span>
                      </ng-container>
                    </ng-container>
                    <ng-template #noRating>
                      <ng-container *ngFor="let star of getColoredStars(0)">
                        <span class="star">&#9733;</span>
                      </ng-container>
                    </ng-template>
                  </div>

                  <div class="product-price mx-auto row">
                    <!-- THERE IS  DISCOUNT -->
                    <ng-container *ngIf="product.discount; else originalPrice">
                      <p class="text-center mb-2">
                        <del><span class="oldPrice">{{ product.price | currency : "EGP" }}</span></del>
                        <span class="newPrice">{{ (product.price * ((100-product.discount)*0.01)) | currency : "EGP" }}</span>
                      </p>
                    </ng-container>

                    <!-- THERE IS NO DISCOUNT -->
                    <ng-template #originalPrice>
                      <p class="text-center mb-2">
                        <span class="boldSmall">{{ product.price | currency : "EGP" }}</span>
                      </p>
                    </ng-template>

                  <div class="button-cart mx-auto row mb-2">
                    <button (click)="addToCart(product)" type="button" class="btn btn-primary mt-auto col-10">
                      <span><i class="fa-solid fa-cart-plus"></i> {{"ADD TO CART" | translate}}</span>
                    </button>
                  </div>
                 </div>
            <!-- ********************************************* -->
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>











