.create-account {
  max-width: 50%;
  margin: 0 auto;
}

.create-account h3 {
  color: var(--identity-color);
}

.create-account .fullname:lang(ar) {
  flex-direction: row-reverse;
}
.create-account .firstname:lang(ar) {
  margin-right: 0 !important;
  margin-left: 1rem !important;
}

.create-account .firstname,
.create-account .lastname {
  width: calc(50% - 8px);
}

@media (max-width: 767px) {
  .create-account {
    max-width: 75%;
  }
  .create-account .firstname,
  .create-account .lastname {
    width: 100%;
  }
  .create-account .firstname:lang(ar) {
    margin-left: 0 !important;
  }
}

.create-account .newsletter:lang(ar) {
  flex-direction: row-reverse;
}
.create-account .newsletter input:lang(ar) {
  margin-left: 1rem;
}

.create-account .btn-success {
  background-color: rgb(243 112 33 / 85%);
  border-color: var(--identity-color);
  font-family: "Oswald", sans-serif;
  transition: 0.2s;
}

.create-account .btn-success:hover {
  background-color: rgb(243 112 33);
}

.sign-or-have a {
  color: var(--identity-color);
}
.sign-or-have a:hover {
  text-decoration: underline !important;
}

/* @media (max-width: 991px) {
  .sign-or-have span,
  .sign-or-have a {
    font-size: 14px;
  }
} */

.show-hide {
  position: absolute;
  right: 0;
  top: 19px;
  transform: translate(100%, -50%);
  height: 37.8px;
  width: 37.8px;
  background-color: #ddd;
  display: grid;
  place-content: center;
  font-size: 20px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
  border-radius: 0 5px 5px 0;
}
.show-hide:hover {
  background-color: #ccc;
}
.show-hide:active {
  background-color: #bbb;
}
.show-hide:lang(ar) {
  right: auto;
  left: 0;
  border-radius: 5px 0 0 5px;
  transform: translate(-100%, -50%);
}
