<!-- *************************************************** -->
<!-- ######## Nav Bar in small screen ########## -->

<div class="container-fluid mt-2" style="z-index: 9999;" id="NavButton">
  <div class="row mx-auto justify-content-between">
    <div class="col-10 mx-auto">
      <div class="row mx-auto">
        <div class="col-5">
          <a href="#" class="logo d-block me-5">
            <img src="assets/logo.png" alt="2B" />
          </a>
        </div>
        <div class="col-5 text-end" style="display: flex; justify-content: space-between;justify-content: flex-end;">

          <div class="search-container" [ngClass]="{ 'search-active': isSearchActive }">
            <input class="form-control mt-3 ml-1" id="searchbox" (input)="setSearch($event)" [(ngModel)]="searchQuery"  type="search" placeholder="Search" *ngIf="isSearchActive" />
            <div class="search-results position-absolute">
              <!-- Display the relevant data from 'result' object -->
              <span
              *ngFor="let item of searchResults"
                (click)="goToSearch($event, item)"
                class="pointer d-block px-2 py-1"
                >{{item}}</span
              >
            </div>
          </div>
          <button class="search-logo border-0 text-orangered" style="background-color: transparent; display: inline-block;" for="searchbox"  (click)="toggleSearch()">
            <i class="fa-solid fa-magnifying-glass" style="color: orangered;"></i>
          </button>

          <button class="NavBar border-0 text-orangered" style="background-color: transparent; display: inline-block;" (click)="toggleSideBar()">
            <span class="action nav-toggle" style="color: orangered;font-weight:bold;display: block; font-size: x-large;"><i class="fa-solid fa-bars"></i></span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="navbar-expand-lg navbar-dark bg-black sticky navInSmallScreenAfterScroll">
  <button class="NavBar border-0 text-orangered" style="background-color: transparent; display: inline-block;" (click)="toggleSideBar()">
    <span class="action nav-toggle" style="color: orangered;font-weight:bold;display: block; font-size: x-large;"><i class="fa-solid fa-bars"></i></span>
  </button>
</div> -->



<div (click)="closeSideBar()" class="col-2 side-bar-overlay" style="width:min-content;padding-left: 0;">
  <div class="sideNavBar col" [ngStyle]="{ 'transform': showSideBar ? 'translateX(0)' : 'translateX(-100%)' }"
       [ngClass]="{ 'slide-in': showSideBar }"
       *ngIf="showSideBar"
       style="position: fixed;overflow-y: hidden; left: 0; top: 0; height: 100%; width:300px;padding-left: 0; z-index: 9999; transition: transform 0.5s;background-color:black;">
       <div data-bs-theme="dark">
    <button class="btn btn-close m-2" (click)="closeSideBar()" aria-label="Close"></button>
       </div>
    <div class="scrollable-content" style="height: calc(100vh - 40px);overflow-x: hidden;overflow-y: auto;">
      <app-hidden-nav-bar (click)="$event.stopPropagation()"  (click)="toggleItem()" ></app-hidden-nav-bar>
    </div>
  </div>
</div>


















<!-- ######## Nav Bar in midium and big screen ########## -->
<!-- *************************************************** -->

<div class="row mainNavBar mx-auto" id="mainBar" >
  <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 mx-auto">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky mx-auto" style="display: flex; justify-content: center; align-items: center">
        <div class="container-fluid row">
          <div class="container mx-auto d-flex flex-wrap justify-content-center justify-content-between col-11">
            <ul class="navbar-nav mx-auto w-100 flex-wrap flex-row d-flex justify-content-around" id="itemInNav" >

              <!-- *********************   COMPUTERS   ****************** -->

              <li class="nav-item dropdown" id="computer">
                <a
                  class="nav-link dropdown-toggle"
                  [routerLink]="['/home/category-details', 1002]"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"

                >{{"COMPUTERS" | translate}}</a>
                <div class="dropdown-menu p-3" aria-labelledby="navbarDropdown">
                  <div class="row mx-auto nav-fill w-100 col-12">
                    <div class="col-lg-3 col-md-3">
                      <a
                        [routerLink]="['home/subCategory-details', 1002]" >
                        <span>{{"LAPTOPS" | translate}}</span>
                      </a>

                      <ul>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1003]">{{"HP" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subCategory-details', 1006]">{{"DELL" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1004]">{{"LENOVO" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1005]">{{"ASUS" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1007]">{{"APPEL" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1008]">{{"ACER" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1009]">{{"HUAWEI" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1012]">{{"ITEL" | translate}}</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1050]"><span>{{"ELECTRONIC SOLUTIONS" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1051]">{{"Network" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1052]">{{"Security Cameras" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1053]">{{"Projectors" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1054]">{{"Smart Home" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1055]">{{"Computer Monitor" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1056]">{{"Software" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1035]"><span>{{"PRINTERS" | translate}}</span></a>
                      <ul>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1037]">{{"INKJET" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1036]">{{"LASERJET" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1038]">{{"SUPPLIES" | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3">
                      <a [routerLink]="['home/subCategory-details', 1039]"><span>{{"DESCTOPS" | translate}}</span></a>
                      <ul>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1040]">{{"DELL" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1041]">{{"LENOVO" | translate}}</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12">


                    <div class="col-lg-3">
                      <a [routerLink]="['home/subCategory-details', 1043]"><span>{{"STORAGE" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1044]">{{"USB Flash Drives" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1045]">{{"Hard Drives" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1049]">{{"Memory cards" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3">
                      <a [routerLink]="['home/subCategory-details', 1042]"><span>{{"Build Your PC" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                </div>
              </li>
              <!-- *********************   MOBILE & TABLET   ****************** -->

              <li class="nav-item dropdown" id="mobile">
                <a
                  class="nav-link dropdown-toggle"
                  [routerLink]="['/home/category-details', 1003]"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{"MOBILE & TABLET" | translate}}
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100">
                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1015]">
                      <span>{{"Mobile Phones" | translate}}</span></a>
                      <ul>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1016]">{{"Apple" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1017]">{{"Samsung" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1018]">{{"Huawei" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1019]">{{"OPPO" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1020]">{{"Realme" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1021]">{{"Xiaomi" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1022]">{{"Honor" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1023]">{{"Infinix" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1024]">{{"Nokia" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1025]">{{"Viwa" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1026]">{{"Sico" | translate}}</a></li>
                        <!-- <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1002]">Vivo</a></li> -->
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1027]">{{"TCL" | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a  [routerLink]="['home/subCategory-details', 1028]">
                      <span>{{"Tablets" | translate}}</span></a>
                      <ul>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1029]">{{"Huawei" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1030]">{{"Apple" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1031]">{{"Samsung" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1032]">{{"Lenovo" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1033]">{{"Honor" | translate}}</a></li>
                        <li><a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1034]">{{"Xiaomi" | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-3 col-md-3"></div>
                  </div>
                </div>
              </li>
              <!-- ***************   Gaming ************** -->
              <li class="nav-item dropdown" id="gaming">
                <a
                  class="nav-link dropdown-toggle"
                  [routerLink]="['/home/category-details', 1004]"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{"GAMING" | translate}}
                </a>
                <div class="dropdown-menu p-3" aria-labelledby="navbarDropdown" style="padding-left: 15px;">
                  <div class="row mx-auto nav-fill w-100 col-12">
                    <div class="col-lg-6 col-md-6 mb-3">
                      <a [routerLink]="['home/subCategory-details', 1057]"><span>{{"Playstation" | translate}}</span></a>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3" style="padding-left: 15px;">
                      <a [routerLink]="['home/subCategory-details', 1064]">
                      <span>{{"Games CD" | translate}}</span></a>
                    </div>

                    <div class="row mx-auto nav-fill w-100 col-12">
                      <div
                        class="col-lg-6 col-md-6 mb-3"
                      >
                        <a [routerLink]="['home/subCategory-details', 1058]">
                        <span>{{"GAMING ACCESSORIES" | translate}}</span></a>
                        <ul>
                          <li>
                            <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1059]"
                              >{{"Gamepads & Controllers" | translate}}</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1060]"
                              >{{"Gaming Mouse & Keyboard" | translate}}</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1061]"
                              >{{"Gaming Headphones" | translate}}</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1062]"
                            >{{"Gaming Combo" | translate}}</a>
                          </li>Sub
                          <li>
                            <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1063]"
                              >{{"Heavy Gamers Accessories" | translate}}</a
                            >
                          </li>
                          <!-- <li>
                            <a class="dropdown-item" href="#"
                              >Cases & Coolers</a
                            >
                          </li> -->
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 mb-3" style="padding-left: 15px;">
                        <a [routerLink]="['home/subCategory-details', 1065]"><span>{{"GAMING LAPTOPS" | translate}}</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ***************   HOME APPLIANCES ************** -->

              <li class="nav-item dropdown" id="homeAppliance">
                <a
                  class="nav-link dropdown-toggle"
                  [routerLink]="['/home/category-details', 1005]"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{"HOME APPLIANCES" | translate}}
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1066]">
                        <span>{{"LARGE HOME APPLIANCES" | translate}}</span>
                      </a>
                      <ul>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1067]"
                            >{{"Refrigerators & Deep Freezers" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1068]"
                            >{{"Washing Machines & Dryers" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1069]"
                            >{{"Cookers and Ovens" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1070]"
                          >{{"Water Heaters" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Sub
                            {{"Dishwashers" | translate}}</a>
                        </li>
                        <!-- <li><a class="dropdown-item" [routerLink]="['home/subCategory-details', 1016]">Built-in</a></li> -->
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"SMALL HOME APPLIANCES" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" >{{"Water Filters" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Kitchen Appliances" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Microwaves and Electric Ovens" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Water Dispenser" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Suction Fan" | translate}}</a>
                        </li>
                        <li><a class="dropdown-item" >{{"Iron" | translate}}</a></li>
                        <li>
                          <a class="dropdown-item" >{{"Vacuum Cleaner" | translate}}</a>
                        </li>
                        <li><a class="dropdown-item" >{{"Fans" | translate}}</a></li>
                        <li><a class="dropdown-item" >{{"Heaters" | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1074]"><span>{{"TVs" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"AIR CONDITIONERS" | translate}}</span></a>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a [routerLink]="['home/subCategory-details', 1071]"><span>{{"PERSONAL CARE" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1072]">{{"FOR HIM" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" [routerLink]="['home/subSubCategory-details', 1073]">{{"FOR HER" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"HEALTH CARE" | translate}}</span></a>
                      <ul>
                        <!-- <li>
                          <a class="dropdown-item" >Weight Scales</a>
                        </li> -->
                        <li>
                          <a class="dropdown-item" >{{"Hygiene Products" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"HOME ESSENTIALS" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" >{{"Tools" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Landline Phones" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ***************   ACCESSORIES  ************** -->

              <li class="nav-item dropdown" id="Accessories">
                <a
                  class="nav-link dropdown-toggle"
                  [routerLink]="['/home/category-details', 1006]"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{"ACCESSORIES" | translate}}
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"COMPUTER ACCESSORIES" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item"
                            >{{"Laptop & School Bags" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Laptop Chargers & Batteries" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Cable & Converters" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Keyboards & Mouse" | translate}}</a
                          >
                        <!-- </li>
                        <li><a class="dropdown-item" >Web Cams</a></li>
                        <li> -->
                          <a class="dropdown-item" >{{"Power Supply" | translate}}</a>
                        </li>
                        <li><a class="dropdown-item" >{{"Other" | translate}}</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"MOBILE ACCESSORIES" | translate}}</span></a>
                      <ul>
                        <li><a class="dropdown-item" >{{"Cables" | translate}}</a></li>
                        <li><a class="dropdown-item" >{{"Chargers" | translate}}</a></li>
                        <li>
                          <a class="dropdown-item" >{{"Power Bank" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Cases & Covers" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Screen Protector" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"WEARABLES" | translate}}</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" >{{"Smart Watch" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Smart Band" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Smart Watch Accessories" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Smart Watches Chargers" | translate}}</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"AUDIO" | translate}} </span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item"
                            >{{"Over Ear Headphones" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"In-Ear Headphones" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"True Wireless Headphones" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"TWS Covers" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item"
                            >{{"Portable Speakers" | translate}}</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Sub-woofer" | translate}}</a>
                        </li>
                        <li>
                          <a class="dropdown-item" >{{"Microphone" | translate}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"TV ACCESSORIES" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"POWER" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"DIGITAL CAMERA" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a><span>{{"CAR ACCESSORIES" | translate}}</span></a>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3">
                      <a><span>{{"BATTERIES" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3">
                      <a><span>{{"CALCULATORS" | translate}}</span></a>
                    </div>
                    <div class="col-lg-3">
                      <a><span> </span></a>
                    </div>
                    <div class="col-lg-3">
                      <a><span> </span></a>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ****************** OTHER ICONS NAV ************************ -->

              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/category-details', 1007]">
                  {{"CORPORATE.SOLUTIONS" | translate}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home/category-details', 1008]">{{"DEALS" | translate}}</a>
              </li>
            </ul>
            <!-- ------------------------------------------------------------ -->
           

               <!-- ****************** Cart  ************************ -->
          </div> 
          <ul class="col-1" id="cartInNav">

              <li *ngIf="isNavbarFixed" >
               <app-cart-icon></app-cart-icon>
              </li>
            </ul>
        </div>
      </nav>
    </div>
  </div>

  <!-- <div class="col-lg-1"></div> -->
</div>

<!-- *********************####################**************** -->
