<!-- *************************************************** -->
<!-- ######## Nav Bar in small screen ########## -->

<div class="container-fluid mt-2" style="z-index: 9999;" id="NavButton">
  <div class="row mx-auto justify-content-between">
    <div class="col-10 mx-auto">
      <div class="row mx-auto">
        <div class="col-5">
          <a href="#" class="logo d-block me-5">
            <img src="assets/logo.png" alt="2B" />
          </a>
        </div>
        <div class="col-5 text-end" style="display: flex; justify-content: flex-end;">

          <div class="search-container" [ngClass]="{ 'search-active': isSearchActive }">
            <input class="form-control mt-3 ml-1" id="searchbox"  type="search" placeholder="Search" *ngIf="isSearchActive" />
          </div>
          <button class="search-logo border-0 text-orangered" style="background-color: transparent; display: inline-block;" for="searchbox"  (click)="toggleSearch()">
            <i class="fa-solid fa-magnifying-glass" style="color: orangered;"></i>
          </button>

          <button class="NavBar border-0 text-orangered" style="background-color: transparent; display: inline-block;" (click)="toggleSideBar()">
            <span class="action nav-toggle" style="color: orangered;font-weight:bold;display: block; font-size: x-large;">=</span>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>




<div (click)="closeSideBar()" class="col-2 side-bar-overlay" style="width:min-content;padding-left: 0;">
  <div class="sideNavBar col" [ngStyle]="{ 'transform': showSideBar ? 'translateX(0)' : 'translateX(-100%)' }"
       [ngClass]="{ 'slide-in': showSideBar }" 
       *ngIf="showSideBar" 
       style="position: fixed; left: 0; top: 0; height: 100%; width:300px;padding-left: 0; z-index: 9999; transition: transform 0.5s;background-color:black;">
    <button class="btn btn-outline-danger m-2" (click)="closeSideBar()" style="font-weight: bolder;">X</button>
    <div class="scrollable-content" style="height: calc(100vh - 40px); overflow-y: auto;">
      <app-hidden-nav-bar (click)="$event.stopPropagation()"  (click)="toggleItem()"></app-hidden-nav-bar>
    </div>
  </div>
</div>


















<!-- ######## Nav Bar in midium and big screen ########## -->
<!-- *************************************************** -->

<div class="row mainNavBar mx-auto" id="mainBar" >
  <div class="col-lg-10 offset-lg-1  col-md-10 offset-md-1 mx-auto">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky mx-auto" style="display: flex; justify-content: center; align-items: center">
        <div class="container-fluid">
          <div class="container-fluid mx-auto flex-wrap justify-content-center">
            <ul class="navbar-nav mx-auto w-100 flex-wrap flex-row" style="flex-wrap: wrap">
            
              <!-- *********************   COMPUTERS   ****************** -->

              <li class="nav-item dropdown" id="computer">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  COMPUTERS
                </a>

                <div class="dropdown-menu p-3" aria-labelledby="navbarDropdown">
                  <div class="row mx-auto nav-fill w-100 col-12">
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>LAPTOPS</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">HP</a></li>
                        <li><a class="dropdown-item" href="#">DELL</a></li>
                        <li><a class="dropdown-item" href="#">LENOVO</a></li>
                        <li><a class="dropdown-item" href="#">ASUS</a></li>
                        <li><a class="dropdown-item" href="#">APPEL</a></li>
                        <li><a class="dropdown-item" href="#">ACER</a></li>
                        <li><a class="dropdown-item" href="#">HUAWEI</a></li>
                        <li><a class="dropdown-item" href="#">ITEL</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>ELECTRONIC SOLUTIONS</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">Network</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Security Cameras</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Projectors</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Smart Home</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Computer Monitor</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Software</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>PRINTERS</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">INKJET</a></li>
                        <li><a class="dropdown-item" href="#">LASERJET</a></li>
                        <li><a class="dropdown-item" href="#">SUPPLIES</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>ELECTRONIC SOLUTIONS</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">Network</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Security Cameras</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Projectors</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Smart Home</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Computer Monitor</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Software</a></li>
                      </ul>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12">
                    <div class="col-lg-3">
                      <a href="#"><span>DESCTOPS</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">DELL</a></li>
                        <li><a class="dropdown-item" href="#">LENOVO</a></li>
                      </ul>
                    </div>

                    <div class="col-lg-3">
                      <a href="#"><span>STORAGE</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">USB Flash Drives</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Hard Drives</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Memory cards</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-lg-3">
                      <a href="#"><span>Build Your PC</span></a>
                    </div>
                    <div class="col-lg-3"></div>
                  </div>
                </div>
              </li>
              <!-- *********************   MOBILE & TABLET   ****************** -->

              <li class="nav-item dropdown" id="mobile">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  MOBILE & TABLET
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100">
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>Mobile Phones</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">Huawei</a></li>
                        <li><a class="dropdown-item" href="#">OPPO</a></li>
                        <li><a class="dropdown-item" href="#">Realme</a></li>
                        <li><a class="dropdown-item" href="#">Xiaomi</a></li>
                        <li><a class="dropdown-item" href="#">Honor</a></li>
                        <li><a class="dropdown-item" href="#">Infinix</a></li>
                        <li><a class="dropdown-item" href="#">Nokia</a></li>
                        <li><a class="dropdown-item" href="#">Viwa</a></li>
                        <li><a class="dropdown-item" href="#">Sico</a></li>
                        <li><a class="dropdown-item" href="#">Vivo</a></li>
                        <li><a class="dropdown-item" href="#">TCL</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>Tablets</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">Huawei</a></li>
                        <li><a class="dropdown-item" href="#">Apple</a></li>
                        <li><a class="dropdown-item" href="#">Samsung</a></li>
                        <li><a class="dropdown-item" href="#">Lenovo</a></li>
                        <li><a class="dropdown-item" href="#">Honor</a></li>
                        <li><a class="dropdown-item" href="#">Xiaomi</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-3 col-md-3"></div>
                  </div>
                </div>
              </li>
              <!-- ***************   Gaming ************** -->
              <li class="nav-item dropdown" id="gaming">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  GAMING
                </a>
                <div class="dropdown-menu p-3" aria-labelledby="navbarDropdown" style="padding-left: 15px;">
                  <div class="row mx-auto nav-fill w-100 col-12">
                    <div class="col-lg-6 col-md-6 mb-3">
                      <a href="#"><span>Playstation</span></a>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-3" style="padding-left: 15px;">
                      <a href=""><span>Games CD</span></a>
                    </div>

                    <div class="row mx-auto nav-fill w-100 col-12">
                      <div
                        class="col-lg-6 col-md-6 mb-3"
                        
                      >
                        <a href="#"><span>GAMING ACCESSORIES</span></a>
                        <ul>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Gamepads & Controllers</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Gaming Mouse & Keyboard</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Gaming Headphones</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Gaming Combo</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Heavy Gamers Accessories</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Cases & Coolers</a
                            >
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 mb-3" style="padding-left: 15px;">
                        <a href=""><span>GAMING LAPTOPS</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ***************   HOME APPLIANCES ************** -->

              <li class="nav-item dropdown" id="homeAppliance">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  HOME APPLIANCES
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a href="\"><span>LARGE HOME APPLIANCES</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Refrigerators & Deep Freezers</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Washing Machines & Dryers</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Cookers and Ovens</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Water Heaters</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Dishwashers</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Built-in</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>SMALL HOME APPLIANCES</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Water Filters</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Kitchen Appliances</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Microwaves and Electric Ovens</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Water Dispenser</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Suction Fan</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Iron</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Vacuum Cleaner</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Fans</a></li>
                        <li><a class="dropdown-item" href="#">Heaters</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>TVs</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>AIR CONDITIONERS</span></a>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a href="\"><span>PERSONAL CARE</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">FOR HIM</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">FOR HER</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>HEALTH CARE</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Weight Scales</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Hygiene Products</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>HOME ESSENTIALS</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Tools</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Landline Phones</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ***************   ACCESSORIES  ************** -->

              <li class="nav-item dropdown" id="Accessories">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  ACCESSORIES
                </a>
                <div
                  class="dropdown-menu p-3"
                  aria-labelledby="navbarDropdown"
                  style="flex: 1"
                >
                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a href="\"><span>COMPUTER ACCESSORIES</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Laptop & School Bags</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Laptop Chargers & Batteries</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Cable & Converters</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Keyboards & Mouse</a
                          >
                        </li>
                        <li><a class="dropdown-item" href="#">Web Cams</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Power Supply</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Other</a></li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>MOBILE ACCESSORIES</span></a>
                      <ul>
                        <li><a class="dropdown-item" href="#">Cables</a></li>
                        <li><a class="dropdown-item" href="#">Chargers</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Power Bank</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Cases & Covers</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Screen Protector</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>WEARABLES</span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#">Smart Watch</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Smart Band</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Smart Watch Accessories</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Smart Watches Chargers</a
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href="#"><span>AUDIO </span></a>
                      <ul>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Over Ear Headphones</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >In-Ear Headphones</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >True Wireless Headphones</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">TWS Covers</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Portable Speakers</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Sub-woofer</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">Microphone</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3 col-md-3">
                      <a href="\"><span>TV ACCESSORIES</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>POWER</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>DIGITAL CAMERA</span></a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                      <a href=""><span>CAR ACCESSORIES</span></a>
                    </div>
                  </div>

                  <div class="row mx-auto nav-fill w-100 col-12 mb-2">
                    <div class="col-lg-3">
                      <a href="\"><span>BATTERIES</span></a>
                    </div>
                    <div class="col-lg-3">
                      <a href=""><span>CALCULATORS</span></a>
                    </div>
                    <div class="col-lg-3">
                      <a href=""><span> </span></a>
                    </div>
                    <div class="col-lg-3">
                      <a href=""><span> </span></a>
                    </div>
                  </div>
                </div>
              </li>

              <!-- ****************** OTHER ICONS NAV ************************ -->

              <li class="nav-item">
                <a class="nav-link" href="#"routerLink="home/corporateSolutions">CORPORATE.SOLUTIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" >DEALS</a>
              </li>


              <!-- ****************** Cart  ************************ -->

              <li *ngIf="isNavbarFixed" >
                <div
                class="cart fs-3 "
                style="top: 0; right: 10%; position:absolute;"
                #cartIcon
                (click)="showCartDetails($event, cartIcon)">   
                <span class="items-num position-absolute">0</span>
                <span class="dropdown-arrow position-absolute" #dropdownArrow></span>
                <i class="fa-solid fa-cart-plus" style="font-size: 50%"></i>
                <div
                  #dropdownDiv
                  class="dropdown-div position-absolute d-flex justify-content-center align-items-center bg-white"
                  [ngClass]="{ active: isDropdownActive }"
                >
                  You have no items in your shopping cart.
                </div>
              </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- <div class="col-lg-1"></div> -->
</div>

<!-- *********************####################**************** -->
