/* ******************************************* */

.dropdown:hover .dropdown-menu {
    display:flex;
  } 

  /* *:lang(ar){
    flex-direction: row-reverse;
  } */

  .dropdown-menu:lang(ar), 
  .dropdown-item:lang(ar),
   .nav-fill:lang(ar)
  {
    flex-direction: row-reverse;
  }

  #mainBar:lang(ar) {
    flex-direction: column-reverse; 
    flex-direction: row-reverse; 
  }
  
  #cartInNav:lang(ar) {
    justify-content: flex-end;
  }

  #itemInNav:lang(ar){
    display: flex;
    justify-content: space-around;
  }
  /* display: flex;
  flex-direction: column-reverse; */
  /* .navbar-nav:lang(ar){
    justify-content: flex-end;
  } */
  /* .nav-item:lang(ar){
  margin-right: auto;} */

  .nav>u:lang(ar){
    display: flex;
    flex-direction: column-reverse;
  }

  /* .nav-item .nav-link:lang(ar) {
    padding-left: 10px;
    margin-right: 10px;
    direction: ltr;
    z-index: 9999;
  } */
  
.nav-item .nav-link {
  padding-left: 1px;
  margin-right: 1px;
}

li {
  color: white;
  font-size: xx-small;
}
li a:hover {
  color: orange;
}

ul li a {
  font-size: x-small;
  font-weight: bold;
}
.dropdown-menu ul li a:hover {
  scale: 1.01;
  color: orangered;
}
a span {
  color: black;
  font-weight: bold;
}

.nav-link {
  color: white;
}

.collapse ul li a {
  font-size: x-small;
}

ul li a {
  text-decoration: none;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.dropdown-menu ul li a {
  padding-left: -100px;
  font-weight: normal;
  color: rgb(68, 67, 67);
}

ul {
  padding-left: 0;
}

.col-md-6 {
  padding-left: 0;
}
ul li a {
  display: flexbox;
  flex-wrap: nowrap;
}


#cartInNav{
  display: flex;
  justify-content: end;
}

#cartInNav{
  direction: ltr;
}

/*************************************************/

.navbar-nav .dropdown-menu {
  width: 100%;
  left: 0;
  right: auto;
  text-align: left;
  transform: translateX(0);
  border-radius: 0;
}

.dropdown-menu {
  box-shadow: 0 0 2px 0 rgba(109, 104, 104, 0.74);
  z-index: 9999;
  position: absolute;
}

.navbar-nav .dropdown {
  position: static;
}

.navbar-nav .dropdown:hover .dropdown-menu,
.navbar-nav .dropdown:focus .dropdown-menu {
  display: block;
}

/* ***************************************************** */
/* triangle above dropdown list  */

/* .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}    */
/*
 #computer ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 7vw;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}


#mobile ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 18vw;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#gaming ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 28vw;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#homeAppliance ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 38vw;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#Accessories ::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 51vw;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
} */

/* theb next with out triangle */
/*
#computer::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 10%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#mobile::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 22%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#gaming::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 34%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#homeAppliance::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 46%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
}

#Accessories::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 62%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  pointer-events: none;
} */

/* *********************************************************** */

body {
  color: #777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* *********************************************************** */

nav.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0px;
  z-index: 9999;
  margin-left: 0;
  margin-right: 0;
}

.row > * {
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  scrollbar-gutter: 0;
}

/* ******************************************* */

/* to show button in small screen  */

#NavButton {
  display: none;
}

@media (max-width: 768px) {
  #NavButton {
    display: block;
  }
}

/* to hidden main bar  */
#mainBar {
  display: block;
}

@media (max-width: 768px) {
  #mainBar {
    display: none;
  }
}

.click-stop-propagation {
  pointer-events: auto !important;
}

/* to hide scroll in side bar  */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* *********************************** */
/* search hidden Box  */

.search-container {
  width: 0;
  /* overflow: hidden; */
  transition: width 1s ease;
}

.search-active {
  width: auto;
  padding-left: 10px;
}

.search-input {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search-active .search-input {
  opacity: 1;
}

/* ************************************************************ */
/* ========================================= */
.pointer {
  cursor: pointer;
}

.search-results {
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 0;
  border-radius: 0 0 5px 5px;
}
.search-results span {
  font-size: 13px;
  text-align: left;
}
.search-results span:hover {
  background-color: #eee;
}
/* ========================================= */
/* Cart Details  */

.cart {
  color: var(--identity-color);
  cursor: pointer;
  font-size: xx-small;
  width: 2.5px;
  height: 2.5px;
  vertical-align: middle;
}

.cart::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent #818181 #818181 transparent;
  transform: rotate(45deg) translateY(-50%);
  right: -25px;
  top: 30px;
}
.cart .items-num {
  right: 0px;
  top: 7px;
  font-size: 8px;
  background-color: #f37025;
  color: white;
  width: 10px;
  height: 10px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.cart .dropdown-arrow {
  right: -20px;
  top: 55px;
  font-size: 14px;
  color: white;
  border: 6px solid;
  border-color: var(--identity-color) transparent transparent
    var(--identity-color);
  transform: rotate(45deg);
  z-index: 9999;
  cursor: default;
  display: none;
}
.cart .dropdown-arrow.active {
  display: block;
}
.cart .dropdown-div {
  top: 60px;
  right: -40px;
  width: 283px;
  height: fit-content;
  overflow-y:scroll;
  color: black;
  border: none;
  border-top: 5px solid var(--identity-color);
  border-radius: 0;
  box-shadow: 0 0 5px 1px #ddd;
  font-size: 13px;
  cursor: default;
  display: none !important;
}
.cart .dropdown-div.active {
  display: flex !important;
}


/* CART NAV BAR  */


#cartDropDiv {
  max-height: 400px;
  overflow-y:scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
}

.button-cart:hover {
  color: #ffffff; 
  background-color: #ff6600; 
  border-color: #ff6600; 
}

