

<div class="container-fluid mt-5 mb-5 ">
    <div class="container-fluid row d-flex justify-content-center mx-auto">
      <div class="col-lg-10">
       
        <!-- left Button  -->
        <div class="divLeft col-3 align-content-center p-0 m-0 border-0">
          <div
            class="card entryPointContainer d-flex align-content-center vertical-align-middle p-0 m-0"
          >
            <div
              class="divBefore p-0 m-0"
              (mouseover)="toggleDiv('divLeft')" 
              (mouseout)="toggleDiv('divLeft')"
                          [ngClass]="{ hidden: showDivAfter['divLeft'] }"
            >
              <span
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/shipping_2b.svg"
                  alt="2B"
                />
                {{"Free Shipping" | translate}}</span
              >
            </div>
            <div
              class="divAfter p-0 m-0"
              style="
                align-items: center;
                text-align: center;
                vertical-align: middle;
              "
            (mouseover)="toggleDiv('divLeft')" 
            (mouseout)="toggleDiv('divLeft')"
              [ngClass]="{ hidden: !showDivAfter['divLeft'] }"
            >
              <span id="divContentAfter"
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/shipping_2b.svg"
                  alt="2B"
                />
                <a [routerLink]="['/home/shipping']"  > {{"Learn More" | translate}}</a></span
              >
            </div>
          </div>
        </div>
   
        <!-- Middle Button  -->
        <div class="divMiddle col-3 align-content-center p-0 m-0 border-0">
          <div
            class="card entryPointContainer d-flex align-content-center vertical-align-middle p-0 m-0"
          >
            <div
              class="divBefore p-0 m-0"
              (mouseover)="toggleDiv('divMiddle')" 
              (mouseout)="toggleDiv('divMiddle')"
                          [ngClass]="{ hidden: showDivAfter['divMiddle'] }"
            >
              <span
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/store_2b.svg"
                  alt="2B"
                />
                {{"Pick up From Store" | translate}}</span
              >
            </div>
            <div
              class="divAfter p-0 m-0"
              style="
                align-items: center;
                text-align: center;
                vertical-align: middle;
              "
  (mouseover)="toggleDiv('divMiddle')" 
  (mouseout)="toggleDiv('divMiddle')"
              [ngClass]="{ hidden: !showDivAfter['divMiddle'] }"
            >
              <span id="divContentAfter"
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/store_2b.svg"
                  alt="2B"
                />
                {{"Learn More" | translate}}</span
              >
            </div>
          </div>
        </div>
  
        <!-- Right Button   -->
        <div class="divRight col-3 align-content-center p-0 m-0 border-0">
          <div
            class="card entryPointContainer d-flex align-content-center vertical-align-middle p-0 m-0"
          >
            <div
              class="divBefore p-0 m-0"
              (mouseover)="toggleDiv('divRight')" 
              (mouseout)="toggleDiv('divRight')"
                          [ngClass]="{ hidden: showDivAfter['divRight'] }"
            >
              <span
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/technology_2b.svg"
                  alt="2B"
                />
                {{"Technical Service" | translate}}</span
              >
            </div>
            <div
              class="divAfter p-0 m-0"
              style="
                align-items: center;
                text-align: center;
                vertical-align: middle;
              "
  (mouseover)="toggleDiv('divRight')" 
  (mouseout)="toggleDiv('divRight')"
              [ngClass]="{ hidden: !showDivAfter['divRight'] }"
            >
              <span id="divContentAfter"
                ><img
                  style="margin: auto; width: fit-content"
                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/shipping/technology_2b.svg"
                  alt="2B"
                />
                {{"Learn More" | translate}}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
