.hidden {
    display: none;
  }




.col-lg-10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .divBefore{
    align-items: center;
    text-align:center;
    vertical-align: middle;
    border:none;
}

.divAfter{
    align-items: center;
    text-align:center;
    vertical-align: middle;
    border:none;
}
.divBefore span {
    color: black;
  }

.card{
    background-color:#e1e8f0;
    
}
.divLeft:hover .card{
    background-color: orangered;
}

.divMiddle:hover .card{
    background-color: orangered;
}

.divRight:hover  .card{
    background-color: orangered;
}
/* *************************************** */
/* to perform scale in  */
 .divAfter {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
 .divAfter.hidden {
    opacity: 0;
  }
  
 .divAfter:hover {
    transform: scale(0.85);
  }




 .divLeft:hover > .card .divAfter img {
    filter: grayscale(100%) brightness(200%);
  }

 .divMiddle:hover > .card .divAfter img {
    filter: grayscale(100%) brightness(200%);
  }

  .divRight:hover > .card .divAfter img {
    filter: grayscale(100%) brightness(200%);
  }
  
  .divLeft:hover > .card .divAfter span {
    color: white;
  }

  .divMiddle:hover > .card .divAfter span {
    color: white;
  }

  .divRight:hover > .card .divAfter span {
    color: white;
  }


  a {
    text-decoration: none;
    color : black;
  }
  

  .divLeft ,.divMiddle ,.divRight {
    cursor: pointer;
  }
