.sign-in {
  max-width: 50%;
  margin: 0 auto;
}

.sign-in h3 {
  color: var(--identity-color);
}

.sign-in .btn-success {
  background-color: rgb(243 112 33 / 85%);
  border-color: var(--identity-color);
  font-family: "Oswald", sans-serif;
  transition: 0.2s;
}

.sign-in .btn-success:hover {
  background-color: rgb(243 112 33);
}
