.sign-in {
  max-width: 50%;
  margin: 0 auto;
}

.sign-in h3 {
  color: var(--identity-color);
}

.sign-in .btn-success {
  background-color: rgb(243 112 33 / 85%);
  border-color: var(--identity-color);
  font-family: "Oswald", sans-serif;
  transition: 0.2s;
}

.sign-in .btn-success:hover {
  background-color: rgb(243 112 33);
}

.show-hide {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #919191;
  cursor: pointer;
  padding: 3px;
}
.show-hide:lang(ar) {
  right: auto;
  left: 13px;
}
