


<div class="container-fluid row mb-2 d-flex justify-content-center mx-auto">
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto align-items-center m-2">
      <h3>{{"Personal care offers" | translate}}</h3>
      <div class="row justify-content-between mx-auto">
        <div class="col-6">
          <a href="#">
            <img style="padding: 2px; width: 100%;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/Personal care offers/pcher_en_web.jpg':'/assets/ar_images/pcher_ar_web.jpg'"
            alt="2B">
          </a>
        </div>
        <div class="col-6">            
          <a href="#">
            <img style="padding: 2px;  width: 100%;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/Personal care offers/pchim_en_web.jpg':'/assets/ar_images/pchim_ar_web.jpg'" alt="2B">
          </a>
        </div>
      </div>
    </div>
  </div>


  <!-- ************************************************************ -->

  <div class="container">
    <app-product-home [subCategoryId]="1071"></app-product-home>
  </div>
  
