


 <div class="container row mx-auto mb-2">
    <div class="container col-8">
      <p style="color: rgba(255, 68, 0, 0.699);">Shopping Cart</p>
    </div>
  </div>
  
  <div class="container row mx-auto Cart mb-2 cart">
    <div class="col-lg-7 col-md-12 col-sm-12 left-div">
      <table class="row">      
        <thead  style="padding: 5px;border-radius: 5px;">
            <tr class="row" >
              <th class="col-7 ml-2">Item</th>

            <div class="col-lg-5 col-md-5">
             <div class="row d-flex justify-content-spacearound" id="headerTable">
              <th class="col-lg-4 col-md-4 col-sm-4 d-none d-md-table-cell">Price</th>
              <th class="col-lg-4 col-md-4 col-sm-4 d-none d-md-table-cell">Qty</th>
              <th class="col-lg-4 col-md-4 col-sm-4 d-none d-md-table-cell">Subtotal</th>
             </div>
             </div>

            </tr>
          </thead>

        <!-- ... Loop through cart items and display each item ... -->
        <tr class="row" *ngFor="let item of cartItems">
            <div class="row">
                <td class=" d-flex justify-content-end align-items-center" style="background-color: #ff6600;padding: 5px;">
                        <button type="button" class="btn-close" aria-label="Close" (click)="removeItemFromCart(item)"></button>
                </td>
           </div>
          <hr style="color: #777;">
          <td class="col-lg-7 col-md-7 col-sm-12">
            <div class="card mb-3 " style="max-width: 400px;border: 0;">
                <div class="row g-0">
                  <div class="col-md-4" style="border: 1px solid #e0dede;padding: 2px;">
                    <img [src]="item.imgURL" class="card-img-top" alt="Product Image" />
                  </div>
                  <div class="col-md-8  d-flex align-items-center vertical-align-middle justify-content-center" style="padding-left:10px;">
                    <div class="card-body d-flex align-items-center vertical-align-middle justify-content-center">
                      <a [routerLink]="'/product/' + item.id" id="productName" ><p class="card-text" >{{ item.name }}</p></a>
                    </div>
                  </div>
                </div>
            </div>
          </td>

         <div class="col-lg-5 col-md-5 col-sm-12 pt-5" >
            <div class="row ">
          <td class="col-lg-4 col-md-4 col-sm-4 price" style="font-size:xx-small;font-weight: bolder;">{{ item.price | currency : "EGP" }}</td>

          <td class="col-lg-4 col-md-4 col-sm-4 qty" style="font-size:xx-small;font-weight: bolder;">

              <div class="d-flex align-items-center">
                <button (click)="decreaseQuantity(item)" class="btn btn-danger btn-md ">
                    <i class="fa-solid fa-square-minus"></i>
                </button>
                <strong style="font-size: medium;">{{getQuantity(item)}}</strong>
                <button (click)="increaseQuantity(item)" class="btn btn-danger btn-md " style="align-items: middle;">
                    <i class="fa-solid fa-square-plus"></i>
                </button>
            </div>
            </td>

            <td class="col-lg-4 col-md-4 col-sm-4 subtotal" style="font-size:xx-small;font-weight: bolder;">{{ getSubtotal(item) | currency : "EGP" }}</td>
        </div>
        </div>
        <!-- ************************************************************** -->

        <!-- ************************************************************** -->
          <hr style="color: #777;margin-bottom: 15px;">
        </tr>
        
      </table>


    </div>   


 <!-- *********************************************************************************** -->

  
    <div class="col-lg-4 col-md-12 col-sm-12" >
      <div class="right-div">
        <div class="right p-2" >
          <div class="CartSummary mb-2 mt-1" style="color: #777;padding: 5px;">CART SUMMARY</div>
          <hr style="color: #777;">
  
          <div class="row mb-2 mt-2">
            <div class="SubTotal col-4">
              <p style="color: #777;margin-bottom: 2px;margin-bottom:15px;">Sub Total</p>
              <p style="color: #777;margin-bottom: 2px;">Tax</p>
            </div>
            <div class="SubTotal col-8" >
                <p style="color: #777;margin-bottom: 2px;margin-bottom:15px;">{{ getSubtotalCart() | currency : "EGP" }}</p>
                <p style="color: #777;margin-bottom: 2px;">{{ getTax() | currency : "EGP" }}</p>
            </div>
            
          </div>
  
          <hr style="color: #777;">
  
          <div class="row mb-2 mt-2">
            <div class="SubTotal col-4">
              <p style="font-family: Arial;font-weight: bolder;">Total</p>
            </div>
            <div class="SubTotal col-8">
              <p style="font-family: Arial;font-weight: bolder;">{{ getTotal() | currency : "EGP" }}</p>
            </div>
          </div>
  
          <hr style="color: #777;">
  
          <div class="button-cart mx-auto row mb-2 mt-4">
            <button type="button" class="btn btn-primary mt-auto" id="checkOut">
              <span>GO TO CHECK OUT</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  