

  <!-- Date -->
  <div class="container row">
    <div class="col-9 mx-auto">
  <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    {{date|date:'medium'}}
  </p>
</div>
 </div>

<!-- Section 1  -->
<div class="container-fluid">
  <!-- <app-header></app-header>-->

  <app-carousel-home1></app-carousel-home1>
</div>
<!-- Section 2  -->
<div class="container-fluid">
  <app-section2-button></app-section2-button>
</div>
<!-- Section 3 -->
<div class="container-fluid">
  <app-section3-icon></app-section3-icon>
</div>
<!-- Section 4 -->
<div class="container-fluid">
  <app-recommended-offer></app-recommended-offer>
</div>
<!-- Section 5 -->
<div class="container-fluid">
  <app-home-appliances-offers></app-home-appliances-offers>
</div>
<!-- Section 6 -->
<div class="container-fluid">
  <app-personal-care-offers></app-personal-care-offers>
</div>




