
 <!-- poster at head page  -->
 
<div class="container-fluid row mb-2">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="mx-auto container-fluid" style="width: 100%">
      
        <img
          src="assets/CorporateSolution/firstbanner_en.jpg"
          class="d-block w-100"
          alt="2B"
      />
    </div>
  </div>
  <div class="col-1"></div>
</div>

<!-- title of content  -->
<div class="container-fluid row mb-2">
  <div class="col-1"></div>
  <div class="col-10">
    <div
      class="mx-auto container-fluid"
      style="display: flex; width: 100%; justify-content: center"
    >
      <span style="font-size: xx-large; font-weight: bolder">
        {{"Corporate Solutions" | translate}}
      </span>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<!-- Cards  -->
 
 <div class="container row mb-2 mx-auto">
  <!-- <div class="col-1"></div> -->
  <div class="container-fluid col-12 mx-auto d-flex align-content-center">
    <div
      class="mx-auto container  align-content-center"
    >
      <div class="row mx-auto">
        <div class="card col-lg-4 col-md-4 col-sm-12" >
          <img src="assets/CorporateSolution/businesscomputer_mcard_web_en.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{"Business Computer" | translate}} </h5>
            <p class="card-text">
                         {{"Get durable, efficient Business computers for increasing productivity & everyday use. Business computers are designed & optimized for company use, traveling & longer active periods than personal-use laptops." | translate}}
            </p>
            <p><a href="#" >{{"Laptop" | translate}}</a></p>
            <p><a href="#" >{{"Laptop" | translate}}</a></p>
            <p><a href="#" >{{"WORKSTATIONS" | translate}}</a></p>  
          </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-12" >
          <img src="assets/CorporateSolution/businessprinters_mcard_web_en.jpg" class="card-img-top" alt="..." style="padding: 5px;" />
          <div class="card-body">
            <h5 class="card-title">{{"Business Computer" | translate}}</h5>
            <p class="card-text">
                
                {{"Get durable, efficient Business computers for increasing productivity & everyday use. Business computers are designed & optimized for company use, traveling & longer active periods than personal-use laptops." | translate}}
              </p>
            <p><a href="#">{{"Printers" | translate}}</a></p>
            <p><a href="#">{{"Printers Cables" | translate}}</a></p>
            <p><a href="#">{{"All in One Printers" | translate}}</a></p>
            <p><a href="#">{{"Print Supplies" | translate}}</a></p>
          </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-12" >
          <img src="assets/CorporateSolution/servers_mcard_web_en.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"> {{"Servers" | translate}}</h5>
            <p class="card-text">
                
                {{"As technology has evolved, the definition of a server has evolved with it. We offering Servers & Storage solutions portfolio to support complex infrastructure technology solutions including server, security, storage, networking/wireless & IT management solutions." | translate}}
              </p>
            <p><a href="#">{{"HP" | translate}}</a></p>
            <p><a href="#">{{"Dell" | translate}}</a></p>

          </div>
        </div>
      </div>

      <div class="row mx-auto">
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <img src="assets/CorporateSolution/surveillance_mcard_web_en.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{"Surveillance" | translate}}</h5>
            <p class="card-text">
                
                {{"Be on top of things. Different Surveillance systems enable you to protect your premises & have an overall picture of your business performance & identify the areas of improvements. Check out our security cameras & access control products." | translate}}
              </p>
            <p><a href="#">{{"Security Camera" | translate}}</a></p>

          </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-12" >
          <img src="assets/CorporateSolution/accessories_mcard_web_en.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{"Accessories" | translate}}</h5>
            <p class="card-text">
                
                {{"Look for newer, better ways to streamline your business & maximize company efficiency, Our portofolio are designed specifically to boost productivity looking for newer, better ways to streamline your business and maximize company efficiency." | translate}}
              </p>
            <p><a href="#">{{"Software" | translate}}</a></p>
            <p><a href="#">{{"Cabels" | translate}}</a></p>

          </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-12" >
          <img src="assets/CorporateSolution/electronics_mcard_web_en.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{"Electronics" | translate}}</h5>
            <p class="card-text">
                
                {{"Ensure your organization has the gadgets to make every day easier & more efficient, Can streamline teamwork and improve communication in the workplace. An advantage of using electronics at work is that it allows employees to share files & collaborate in real time." | translate}}
              </p>
            <p><a href="#">{{"Computer Monitors" | translate}}</a></p>
            <p><a href="#">{{"Network" | translate}}</a></p>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-1"></div> -->
</div> 

    

    

