@model _2B_Store.DTO.UserSignUpDto

@using _2B_Store.DTO;

<h2>Create New User</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstNameEN" class="control-label">First Name (EN)</label>
        <input asp-for="FirstNameEN" class="form-control" />
        <span asp-validation-for="FirstNameEN" class="text-danger"></span>
    </div>


    @*<div class="form-group">
        <label asp-for="FirstNameAR" class="control-label">First Name (AR)</label>
        <input asp-for="FirstNameAR" class="form-control" />
        <span asp-validation-for="FirstNameAR" class="text-danger"></span>
    </div>
*@
    <div class="form-group">
        <label asp-for="LastNameEN" class="control-label">Last Name (EN)</label>
        <input asp-for="LastNameEN" class="form-control" />
        <span asp-validation-for="LastNameEN" class="text-danger"></span>
    </div>

@*
    <div class="form-group">
        <label asp-for="LastNameAR" class="control-label">Last Name (AR)</label>
        <input asp-for="LastNameAR" class="form-control" />
        <span asp-validation-for="LastNameAR" class="text-danger"></span>
    </div>*@

    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <div class="form-check">
            <input asp-for="SignUpForNewsletter" class="form-check-input" />
            <label class="form-check-label" asp-for="SignUpForNewsletter">Sign up for newsletter</label>
        </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>

</form>
