

<div class="container-fluid row mx-auto mb-2">
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto align-items-center m-1">
      <div class="row mx-auto align-items-center" >
        <h3>{{"Home appliances offers" | translate}}</h3>
        <a href="#"
          ><img
            style="width: 100%"
            [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/tv_en_web.jpg':'/assets/ar_images/tv_ar_web.jpg'"
            alt="2B"
        /></a>
        <div class="row mx-auto" id="containerBox">
    <!-- --------------------------- -->
          <div class="col-4 p-1" #leftBox>
            <div class="row p-1">
              <a href="#"
                ><img
                  style="width: 100%"
                  
                  [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/aircondition_en_web.jpg':'/assets/ar_images/aircondition_ar_web.jpg'"
                  alt="2B"
              /></a>
            </div>
            <div class="row p-1">
              <a href="#"
                ><img
                  style="width: 100%"
                  
                  [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/refrigerator_en_web.jpg':'/assets/ar_images/refrigerator_ar_web.jpg'"

                  alt="2B"
              /></a>
            </div>
          </div>
          <!-- --------------------------- -->
          <div class="col-4 p-1 mt-1 mb-1 justify-content-center " >
            <a href="#"
              ><img
                style="width: 100%; height: 95%;"
                
                [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/kitchenware_en_web.jpg':'/assets/ar_images/kitchenware_ar_web.jpg'"

                alt="2B"
            /></a>
          </div>
          <!-- --------------------------- -->
  
          <div class="col-4 p-1" #rightBox>
            <div class="row p-1">
              <a href="#"
                ><img
                  style="width: 100%"
                  
                  [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/washingmachine_en_web.jpg':'/assets/ar_images/washingmachine_ar_web.jpg'"

                  alt="2B"
              /></a>
            </div>
            <div class="row p-1">
              <a href="#"
                ><img
                  style="width: 100%"
                  
                  [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/HomeAppliancesOffers/gascooker_en_web.jpg':'/assets/ar_images/gascooker_ar_web.jpg'"

                  alt="2B"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ******************************************************************** -->
<div class="container">
  <app-product-home [categoryId]="1005"></app-product-home>
</div>
