
@{
    ViewData["Title"] = "CreateSubCategory";
    //Layout = "_AdminDashboardLayout";

}

@using _2B_Store.DTO;

@model SubCategoryDTO

<h2>Create SubCategory</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NameEN" class="control-label"></label>
        <input asp-for="NameEN" class="form-control" />
        <span asp-validation-for="NameEN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameAR" class="control-label"></label>
        <input asp-for="NameAR" class="form-control" />
        <span asp-validation-for="NameAR" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "NameEN"))" class="form-control">
            <option value="">Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

