@model SubCategoryDTO
@{
    ViewData["Title"] = "Create";
    SelectList categories = new SelectList(Model.Categories, "Id", "NameEN");
    SelectList subCategories = new SelectList(Model.SubCategories, "Id", "NameEN");
}

@section PageTitle {
    <title>2B - SubCategories</title>
}

<div class="container-fluid">
    <h2>Create New SubCategory</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="NameEN" class="form-label"></label>
            <input asp-for="NameEN" class="form-control" />
            <span asp-validation-for="NameEN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NameAR" class="form-label"></label>
            <input asp-for="NameAR" class="form-control" />
            <span asp-validation-for="NameAR" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId" class="form-label"></label>
            @*onchange="getSubCategs(@Model.CategoryId)"*@
            <select asp-for="CategoryId" asp-items="@categories" class="form-control" >
                <option value="">-- Select Category --</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubcategoryId" class="form-label"></label>
            <select asp-for="SubcategoryId" asp-items="@subCategories" class="form-control">
                <option value="">-- Select SubCategory --</option>
            </select>
            <span asp-validation-for="SubcategoryId" class="text-danger"></span>
        </div>
        <button class="btn btn-success">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts{
    <script>
        let sideLinks = document.querySelectorAll(".side-nav");
        sideLinks.forEach(e => e.classList.remove("active"));

        let activeLink = document.getElementById("subCategories");
        activeLink.classList.add("active");
        // =========================================
        function getSubCategs(categoryId) {
            var category = document.getElementById("CategoryId").value;
            var subCategories = document.getElementById("SubcategoryId")
            subCategories.innerHTML = `<option value="">-- Select SubCategory --</option>`;

            $.ajax({
                url: `/SubCategory/getSubCategories?categoryId=${category}`,
                success: function (result) {
                    console.log(result)
                    //for (let item of result) {
                    //    subCategories.innerHTML +=
                    //        `<option value="${item.crs_Id}">${item.crs_Name}</option>`
                    //}
                }
            });
        }
    </script>
}