
<div class="container row mx-auto mb-2">
    <div class="container col-8">
      <h4 style="color: rgb(255, 68, 0);"> {{"My Wish List" | translate}}</h4>
    </div>
  </div>
  <!-- Products Display -->
  <div class="container d-flex justify-content-center mx-auto" >
    <div class="row">
      <div class="product col-lg-4 col-md-6 col-sm-12 col-6 mb-2 mt-2" *ngFor="let product of wishItems" >
        <!-- ********************************************* -->
        <div class="product-card" >

          <ng-container *ngIf="product.discount">
          <div class="product-discount row mx-left p-0 m-0">
            <p>{{ product.discount | formatDiscount }}</p>
          </div>             
         </ng-container>

             <div class="product-photo mb-2"  >
              <img [src]="product.image" class="card-img-top" alt="Product Image" />
             </div>
             
             <div class="product-description">
              <p >{{ product.description}}</p>
             </div>

             <div class="product-name mx-auto" (click)="prodDetails(product.id)">
              <p >{{ product.name}}</p>
             </div>

           <div class="product-rating mx-auto">
            <ng-container *ngIf="product.rating !== undefined; else noRating">
              <ng-container *ngFor="let star of getColoredStars(product.rating)">
                <span class="star" [class.filled]="star === 1">&#9733;</span>
              </ng-container>
            </ng-container>
            <ng-template #noRating>
              <ng-container *ngFor="let star of getColoredStars(0)">
                <span class="star">&#9733;</span>
              </ng-container>
            </ng-template>
          </div> 


          <div class="product-price mx-auto row">
            <!-- THERE IS  DISCOUNT -->
            <ng-container *ngIf="product.discount; else originalPrice">
              <p class="text-center mb-2">
                <del><span class="oldPrice">{{ product.price | currency : "EGP" }}</span></del>
                <span class="newPrice">{{ (product.price * ((100-product.discount)*0.01)) | currency : "EGP" }}</span>
              </p>
            </ng-container>
            
            <!-- THERE IS NO DISCOUNT -->
            <ng-template #originalPrice>
              <p class="text-center mb-2">
                <span class="boldSmall">{{ product.price | currency : "EGP" }}</span>
              </p>
            </ng-template>
          
            <ng-container [ngSwitch]="product.stock" class="container">
              <ng-container *ngSwitchCase="1"><p class="text-center stockOut " style="color: rgb(255, 174, 0);">{{"Last One Item" | translate}}</p></ng-container>
              <ng-container *ngSwitchCase="2"><p class="text-center stockOut" style="color: rgb(255, 123, 0);">{{"Last Two Items" | translate}}</p></ng-container>
              <ng-container *ngSwitchCase="0"><p class="text-center stockOut" style="color: rgb(255, 0, 0);">{{"Out Of Stock" | translate}}</p></ng-container>
            </ng-container>
          </div>


          <div class="button-cart mx-auto row">
            <button (click)="addToCart(product)" type="button" class="btn btn-primary mt-auto col-8" [disabled]="product.stock == 0">
              <span><i class="fa-solid fa-cart-plus"></i>  {{"ADD TO CART" | translate}}</span>
            </button>
            <div class="btn-side2 col-2"><i class="fa-solid fa-signal" ></i></div>
          </div>
         </div>

        <!-- ********************************************* -->
      </div>
    </div>
  </div>

