@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminDashboardLayout";
}

@section PageTitle {
    <title>Dashboard - Welcome</title>
}

<div class="text-center">
    <h1 class="pt-5 mt-5">Welcome to <em><b>2B Store's dashboard</b></em></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
