<footer class="page-footer">
  <div class="footer">
    <div class="footer-top py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="custom-block">
              <div class="col-md-12 text-center">
                <div class="block" style="margin-bottom: 0px !important">
                  <div class="block-title mb-2">
                    <strong class="text-uppercase text-white" 
                      ><div id="Paragrahh">{{"Be the First to Know" | translate}}</div></strong
                    >
                  </div>
                  <div class="block-content mb-4">
                    <p class="text-white" id="Paragrah">
                      {{"Subscribe and Get all the latest information on Sales and Offers now" | translate}}
                    </p>
                  </div>
                  <div class="block-content">
                    <div class="block newsletter mx-auto">
                      <div class="content">
                        <form
                          class="form subscribe"
                          novalidate="novalidate"
                          action="https://2b.com.eg/en/newsletter/subscriber/new/"
                          method="post"
                          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                          id="newsletter-validate-detail"
                        >
                          <div class="field newsletter">
                            <!-- <label class="label" for="footer_newsletter"
                              ><span>Sign Up for Our Newsletter:</span></label
                            > -->
                            <div class="control position-relative">
                              <input
                                name="email"
                                type="email"
                                id="footer_newsletter"
                                data-validate="{required:true, 'validate-email':true}"
                               
                                [placeholder]="'Email Address' | translate"
                                class="form-control"
                                required
                              />
                              <div class="actions position-absolute">
                                <button
                                  class="action subscribe primary text-uppercase text-white"
                                  title="Subscribe"
                                  type="submit"
                                >
                                  <span id="sub">{{"Send" | translate}}</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle p-2">
      <div class="container">
        <div
          class="row border-bottom pb-4 mb-4"
          style="border-color: #393838 !important"
        >
          <div class="col-md-3">
            <div class="block">
              <div class="block-title text-uppercase mb-1">
                <strong><span>{{"Contact" | translate}}</span></strong>
              </div>
              <div class="block-content">
                <ul class="contact-info">
                  <li>
                    <a href="https://2b.com.eg/en/about-us/" title="About us"
                      >{{"About us" | translate}}</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://2b.com.eg/en/contact-us/"
                      title="Contact Us"
                      >{{"Contact us" | translate}}</a
                    >
                  </li>
                  <li>
                    <a class="text-uppercase"
                      > {{"Phone:" | translate}}<a href="tel:16420">16420</a></a
                    >
                  </li>
                  <li>
                    <a class="text-uppercase text-white"
                      >{{"Email:" | translate}}
                      <a href="mailto:info@2b.com.eg">info@2b.com.eg</a></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block">
              <div class="block-title text-uppercase mb-1">
                <strong>{{"My Account" | translate}}</strong>
              </div>
              <div class="block-content">
                <ul class="links">
                  <li>
                    <a
                      href="https://2b.com.eg/en/customer/account/"
                      title="Profile"
                      >{{"Profile" | translate}}</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://2b.com.eg/en/sales/order/history/"
                      title="Order History"
                      >{{"Order history" | translate}}</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://2b.com.eg/en/sales/guest/form/"
                      title="Track your order"
                      >{{"Track your order" | translate}}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block">
              <div class="block-title text-uppercase mb-1">
                <strong>{{"Most Researched" | translate}}</strong>
              </div>
              <div class="block-content">
                <ul class="links">
                  <li>
                    <a href="https://2b.com.eg/en/computers/laptops.html"
                      >{{"Laptop" | translate}}</a
                    >
                  </li>
                  <li>
                    <a href="https://2b.com.eg/en/mobile-tablet/mobiles.html"
                      >{{"Mobile Devices" | translate}}</a
                    >
                  </li>
                  <li>
                    <a href="https://2b.com.eg/en/accessories/wearables.html"
                      >{{"Wearbles" | translate}}</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://2b.com.eg/en/home-appliances/personal-care/for-him.html"
                      >{{"Personal Care For Him" | translate}}</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://2b.com.eg/en/accessories/tv-accessories.html"
                      >{{"TV Accessories" | translate}}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="block">
              <div class="block-title mb-2">
                <span class="thirteen text-lightdark">{{"Stores Working Days" | translate}}</span>
              </div>
              <div class="block-content">
                <ul class="features">
                  <li class="thirteen text-lightdark">
                     {{"Daily / 10:00 AM to 10:00 PM" | translate}}
                  </li>
                  <li class="twelve text-black mb-2">
                    <strong>{{"Download 2B App Now" | translate}}</strong>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-6 col-6">
                        <a
                          class="google-play-link"
                          href="https://play.google.com/store/apps/details?id=com.twobegypt.android&hl=en"
                          target="_blank"
                        >
                          <img
                            src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/google_new.png"
                            alt="Google Play"
                          />
                        </a>
                      </div>
                      <div class="col-md-6 col-6">
                        <a
                          href="https://apps.apple.com/us/app/2b-egypt/id1486844812"
                          target="_blank"
                        >
                          <img
                            src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apple_new.png"
                            alt="App Store"
                          />
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row mt-3">
                      <div class="col-md-6 col-6">
                        <a
                          href="https://appgallery.huawei.com/#/app/C103720831"
                          target="_blank"
                        >
                          <img
                            src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/huawei_new.png"
                            alt="Huawei AppGallery"
                          />
                        </a>
                      </div>
                      <br />
                      <div class="col-md-6 col-6">
                        <a
                          href="http://2b.com.eg/Driversdownloads/2begypt.apk"
                          target="_blank"
                          >{{"Download Apk" | translate}}</a
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="block-bottom">
              <div class="row">
                <div class="col-md-3 social-icons social-icons2">
                  <a
                    class="socials facebook"
                    href="https://www.facebook.com/2BEgypt/"
                    title="Facebook"
                    target="_blank"
                    ><i class="bx bxl-facebook"></i>
                  </a>
                  <a
                    class="socials twitter"
                    href="https://twitter.com/2BEgypt"
                    title="Twitter"
                    target="_blank"
                    ><i class="bx bxl-twitter"></i>
                  </a>
                  <a
                    class="socials linkedin"
                    href="https://www.linkedin.com/company/2b-egypt/about/"
                    title="Linkedin"
                    target="_blank"
                    ><i class="bx bxl-linkedin"></i>
                  </a>
                  <a
                    class="socials instagram"
                    href="https://www.instagram.com/2begypt"
                    title="Instagram"
                    target="_blank"
                    ><i class="bx bxl-instagram"></i>
                  </a>
                </div>

                <div class="col-md-3 text-white">
                  <br />
                  <span class="text-lightdark" style="font-size: 16px"
                    >{{"Main Features" | translate}}</span
                  >
                </div>

                <div class="col-md-3 text-white">
                  <ul>
                    <li class="text-lightdark">{{"Super Fast Shipping" | translate}}</li>
                    <br />
                    <li>
                      <a href="https://2b.com.eg/en/terms-and-conditions"
                        >{{"Return and exchange service" | translate}} .</a
                      >
                    </li>
                    <br />
                  </ul>
                </div>
                <div class="col-md-3 text-white">
                  <ul>
                    <li class="text-lightdark">
                      {{"Maintenance Center to help you" | translate}}
                    </li>
                    <br />
                    <li class="text-lightdark">
                      {{"More than 50 Stores at your service anywhere" | translate}}
                    </li>
                    <br />
                    <li class="text-lightdark">
                      {{"Buy Online or Pickup in Store" | translate}}
                    </li>
                    <br />
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-4">
      <div class="container">
        <div
          class="custom-block d-flex flex-column flex-md-row justify-content-between align-items-center"
        >
          <img
            src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/smartwave/porto/footer/paymentsn.png"
            alt="Payment Methods"
          />
          <address>{{"© 2023 by ITI G3 students. All Rights Reserved." | translate}}</address>
        </div>
      </div>
    </div>
  </div>
  <a
    #toTop
    (click)="scrollToTop()"
    id="totop"
    class="d-flex justify-content-center align-items-center rounded-3 rounded-bottom-0"
    ><span></span
  ></a>
</footer>
