

 <div class="container row mb-2 ">
    <div class="col-1"></div>
    <div class="col-10 ">
  <div class="row container flex-row-reverse " style="background: #F6FAFF;margin: auto;">
   
    <div class="col-sm-6" >
        <div class="card " style="background-color: transparent;border: none;">
          <picture>
            <img class="" src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/shipping_2022/shipping_new.png" alt="">
          </picture>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card " style="background-color: transparent; border: none;">
        <div class="card-body" style="margin-top: 4rem; text-align: left;">
          <h1 class="card-title" style="color: var(--black); margin-bottom: 20px; font-size: 45px;"><strong>{{"Shipping" | translate}}</strong></h1>
          <h3 class="card-title" style="color: var(--black);">
            <picture>
              <img class="" src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/shipping_2022/dash.png" alt="">
            </picture><strong>{{"Delivery" | translate}}</strong>
          </h3><br>
          <p class="card-text" style="color: var(--black); font-size:1rem;max-width:85% ;line-height: 1;"><strong>{{"Because your satisfaction is our priority,we will make sure you experience the fastest delivery service wherever you are." | translate}}</strong></p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-1"></div>
</div>
 




