
<div class="carousel-container">
    <!--  Carosel buttons -->
    <div class="carousel-buttons" style="display: flex; justify-content: right;">
  
      <input type="radio" id="radio" name="carousel-radio" [checked]="currentSlide === 0" (change)="setCurrentSlide(0)">
      &nbsp;
      <input type="radio" id="radio" name="carousel-radio" [checked]="currentSlide === 1" (change)="setCurrentSlide(1)">
      &nbsp;
      <input type="radio" id="radio" name="carousel-radio" [checked]="currentSlide === 2" (change)="setCurrentSlide(2)">
      
    </div>
  <div class="container-carosel">
     <span>WE FOUND OTHER PRODUCTS YOU MIGHT LIKE!</span>
     <hr style="margin-top: 2px;">
  </div>
    <div class="carousel-track">
      <!-- Carosel -->
      <ng-container *ngFor="let slide of carouselItemsChunks; let i = index">
        <div class="carousel-slide">
          <div class="product-row row">
            <div class="product-card col-lg-3 col-md-3 col-sm-6 mx-auto" *ngFor="let product of slide" >
              <!-- ************************************************************************ -->
              <div class="product-card " (click)="NavigateToprodDetails(product)" *ngIf="product">
                  <!--   product card  -->
                  <div class="product-discount" >
                    <p>OFF {{ product.discount | formatDiscount }}</p>
                  </div>
                  <div class="product-photo mb-2">
                    <img [src]="product.image" class="card-img-top" alt="Product Image" />
                  </div>
                  <div class="product-name mx-auto">
                    <p>{{ product.name}}</p>
                  </div>
                  <div class="product-rating mx-auto">
                    <ng-container *ngIf="product.rating !== undefined; else noRating">
                      <ng-container *ngFor="let star of getColoredStars(product.rating)">
                        <span class="star" [class.filled]="star === 1">&#9733;</span>
                      </ng-container>
                    </ng-container>
                    <ng-template #noRating>
                      <ng-container *ngFor="let star of getColoredStars(0)">
                        <span class="star">&#9733;</span>
                      </ng-container>
                    </ng-template>
                  </div>
                  <div class="product-price mx-auto">
                    <p>{{ product.price | currency : "EGP" }}</p>
                  </div>
                </div>
              </div>
              </div>
            <!-- ************************************************************************ -->
  
        </div>
      </ng-container>
    </div>
  </div>
