

.card {
    margin-left: 1px;
    width: 100%;
    height: 100%;
    border:none;
}

  /* Rating  */
  .product-rating {
    display: flex;
  }
  
  .star {
    font-size: 24px;
    color: #d4d4d4;
  }
  
  .star.filled {
    color: #f1c40f;
  }
  
  .product-price , .product-rating ,.product-name , .product-price  {
    display: flex;
    align-items:center;
    justify-content: center;
  }

  .product-photo:hover{
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.1);
    scale:1.01;
    }

 /* Discount box  */
    .product-discount {
        display: flex;
        margin: 5px;
        justify-content: center;
        width: fit-content;
        height: 20px;
        vertical-align: middle;
        padding: 0 5px; 
        border-radius: 5px;
        border: 1px solid #aca69b;
      }
      
      
      .product-discount p {
        color: rgb(78, 70, 70);
        text-align: right;
        font-size: xx-small;
      }

  .product-name:hover{
   color:orangered;
   cursor: pointer;
  }

.container-carosel{
    font-size: xx-small;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#radio{
  background-color:orangered;
  color: orangered;
  padding: 5px;
  width: 25px;
  height: auto;
  font-size: larger;
}
  

  