

/* FILTER PRICE  */

/* Customize the hover and border color for the Apply Price button */
.apply-button:hover,
.apply-button:focus {
  background-color: #ff6600;
  border-color: #ff6600;
}

/* Customize the hover and border color for the Reset Price button */
.reset-button:hover,
.reset-button:focus {
  background-color: #ff6600;
  border-color: #ff6600;
}

.apply-button,.reset-button{
  border: 1px solid #ff6600;
  color: black;
  font-size: x-small;
  font-weight: bold;
}