
<div class="container mx-auto">

    <div class="row mx-auto">
      <!-- *********************************************************** -->
  
     <!-- Sidebar Menu -->
     <div class="container-filter col-lg-2 mx-auto m-0 " style="border: 1px solid rgb(212, 206, 206);border-radius: 5px;">
      <div class="container" style="height: fit-content;padding-left: 0;">
        <ng-container>
          <div class="main">
            <a  class="menu-header text-decoration-none text-dark" *ngIf="isChild">{{subSubCategory.name}}</a>
            <div class="menu p-1 mt-2" id="computersMenu">
              <ng-container *ngFor="let subSubCat of subSubCategory.subCategories">
                <a  class="submenu-header" [routerLink]="['home/subSubCategory-details', subSubCat.id]"><p>{{subSubCat.name}}</p></a>
              </ng-container>
            
            </div>
          </div>
        </ng-container>
      </div>
      <div>
      </div>
  <!-- ---------------------------------------------------------- -->
                      <!-- FILTER BY PRICE  -->
       <!-- FILTER BY PRICE  -->
       <hr>
       <div>
         <form (submit)="applyFilters()">
           <a>{{"PRICE" | translate}}</a>
           <div class="price">
             <input type="number" [(ngModel)]="minPrice" name="minPrice" style="width: 100%;"
              placeholder="Min Price" class="form-control">
             <input type="number" [(ngModel)]="maxPrice" name="maxPrice" style="width: 100%;" 
             placeholder="Max Price" class="form-control" >
             <div class="btn-group mx-auto" role="group" aria-label="Default button group" style="width: 100%;">
               <button type="submit" class="btn btn-outline-primary apply-button" id="applyPrice">Apply</button>
               <button type="button" class="btn btn-outline-primary reset-button" id="resetPrice" (click)="resetFilters()">Reset</button>
             </div>
           </div>
         </form>
       </div>
     <hr>
                     
<!-- ---------------------------------------------------------- -->
                  
             <!-- BRAND FILTER -->
     <div>
       <a>{{"Brand" | translate}}</a>
       <div class="brands">
         <label *ngFor="let brand of brands" class="form-check-label" style="width: 100%;">
           <input type="checkbox" [(ngModel)]="brandBox[brand].checked" class="form-check-input" (change)="applyBrandFilter()">
           {{ brand }}
         </label>
       </div>
     </div>
     <hr>
      </div>
  
  <div class="container col-lg-10 col-md-12 col-sm-12 mx-auto">
  
   
    <div class="container mb-5" style="background-color: #ff6600; width: 96%; height: 50px;
    border: 1px solid rgb(161, 156, 156);border-radius: 10px; display: flex; align-items: center;">
      <label for="sortingOptions" class="mr-2">Sort By &nbsp;&nbsp; </label>
      <select id="sortingOptions" class="sorter-options" [(ngModel)]="sortingOption" style="width: 15%;font-size: xx-small;">
        <option value=" " disabled selected>Select Option</option>
        <option value="all" style="font-size: x-small;">ALL</option>
        <option value="nameAsc" style="font-size: x-small;" >Name (A to Z)</option>
        <option value="nameDesc" style="font-size: x-small;">Name (Z to A)</option>
        <option value="priceHighToLow" style="font-size: x-small;">Price (High to Low)</option>
        <option value="priceLowToHigh" style="font-size: x-small;">Price (Low to High)</option>
      </select>
      
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

     <!-- Add select options for items per page -->
     <label for="itemsPerPageSelect" class="mr-2 ml-auto">SHOW &nbsp;&nbsp; </label>
     <select id="itemsPerPageSelect" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()" style="width: 10%;font-size: xx-small;">
      <!-- <option value="8">8</option> -->
       <option value="16">16</option>
       <option value="24">24</option>
     </select>
    </div>
    
    <div>
    <app-filtered-products [currentProds]="products"></app-filtered-products>
  </div> 
     <!--  PAGINATION -->
<pre></pre>

<nav aria-label="Page navigation example mb-2">
 <ul class="pagination justify-content-center">
   <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
     <a class="page-link" (click)="previousPage()" tabindex="-1" aria-disabled="true">Previous</a>
   </li>
   <li class="page-item" *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
     <a class="page-link" (click)="goToPage(page)" [ngStyle]="{ 'background-color': currentPage === page ? '#ff6600' : 'transparent', 'color': currentPage === page ? '#ffffff' : '#000000', 'border': '1px solid ' + (currentPage === page ? '#ff6600' : 'transparent') }">{{ page }}</a>
   </li>
   <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
     <a class="page-link" (click)="nextPage()">Next</a>
   </li>
 </ul>
</nav>
<pre></pre>
    </div>
  </div>
  
