@model _2B_Store.DTO.ChangePasswordDto

@{
    ViewData["Title"] = "ChangePassword";
}

@section PageTitle {
    <title>2B - My Profile</title>
}

<hr />
<div class="container-fluid">
    <div class="col-md-4">
        <h2>Change Password</h2>
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <div class="input-field position-relative">
                    <input asp-for="CurrentPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="input-field position-relative">
                    <input asp-for="NewPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="input-field position-relative">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <i class="bx bx-hide show-hide"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-success" />
            </div>
        </form>
        <div>
            <a asp-action="MyProfile" class="btn btn-outline-primary">Back to Profile</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        //let sideLinks = document.querySelectorAll(".side-nav");
        //sideLinks.forEach(e => e.classList.remove("active"));

        //let activeLink = document.getElementById("users");
        //activeLink.classList.add("active");
        ///////////////////////////////////
        const eyeIcons = document.querySelectorAll(".show-hide");

        eyeIcons.forEach((eyeIcon) => {
            eyeIcon.addEventListener("click", () => {
                const pInput = eyeIcon.parentElement.querySelector("input");
                if (pInput.type === "password") {
                    eyeIcon.classList.replace("bx-hide", "bx-show");
                    pInput.type = "text";
                    return;
                }
                eyeIcon.classList.replace("bx-show", "bx-hide");
                pInput.type = "password";
            });
        });
    </script>
}