

<div class="container mb-5">

    <div class="container mx-auto mb-2">
    <a><img src="assets/payment/paypal.png" style="width:180px;"></a>
   </div>

    <div class="row">
      <!-- Left -->
      <div class="col-lg-9 col-md-9 col-sm-10 col-10 mx-auto">
        <hr />
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
  
      <!-- Right -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-6 mx-auto">
        <div class="card position-sticky top-0">
          <div class="p-3 bg-light bg-opacity-10">
            <h6 class="card-title mb-3 text-center" style="font-weight: bolder;">ORDER SUMMARY</h6>
            <hr>

            <div class="d-flex justify-content-center align-items-center mb-1 mt-1 small mx-auto">
                <a class="logo d-block text-center">
                  <img src="assets/logo.png" alt="" style="width: 75%;" />
                </a>
              </div>
              
            <hr>
            <div class="d-flex justify-content-between mb-4 small">
              <span style="font-weight: bolder;">TOTAL</span> <strong class="text" style="color:#ff6600;">{{cartTotal | currency : "EGP" }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  