<div
class="cart fs-3 "
style="top: 0; right: 10%; position:absolute;"
#cartIcon
(click)="showCartDetails($event, cartIcon)">
<!-- <span class="items-num position-absolute">0</span> -->
<span class="items-num position-absolute">{{ totalOfOrder }}</span>
<span class="dropdown-arrow position-absolute" #dropdownArrow></span>
<i class="fa-solid fa-cart-plus" style="font-size: 50%"></i>
<div #dropdownDiv class="dropdown-div position-absolute d-flex justify-content-center align-items-center bg-white" id="cartDropDiv">
  
     <!-- Button placed before the cart items -->
     <ng-container *ngIf="cartItems.length > 0">
        <div class="button-cart mx-auto row mb-2 mt-4">
        <button type="button" class="btn  mt-auto col-12" style="background-color: #ff6600;width:100%" [routerLink]="['/cart']">{{"VIEW CART" | translate}}</button>
        </div>
      </ng-container>

  <ng-container *ngIf="cartItems.length > 0; else emptyCart" >
    <!-- Loop through cart items and display card details -->
    <div class="container-fluid mt-20" style="max-height: 500px;overflow-y:auto;">
      <!-- Your card template goes here -->
      <div class="card mb-3 mt-10 " style="border: 0;" *ngFor="let item of cartItems">
        <div class="row g-0">
          <div class="col-md-4 ">
            <img [src]="item.image" class="card-img-top" alt="Product Image" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a [routerLink]="'/product/' + item.id" id="productName">
                <p class="card-title" style="font-size: xx-small;">{{ item.name }}</p>
              </a>
              <p class="card-text" style="font-size: x-small;">{{"Price: " | translate}}{{ item.price | currency: "EGP" }}</p>
              <p>{{item.quantity}} {{ item.quantity === 1 ? 'item' : 'items' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- If cartItems is empty, show this message -->
  <ng-template #emptyCart>
    <div class="container">
      <div class="text-center mt-3 mb-3">{{"You have no items in your shopping cart." | translate}}</div>
    </div>
  </ng-template>

</div>
</div>