
<div class="container-fluid mb-5" style="margin-top: 18%">
    <div class="container text-center">
        <div class="container mx-auto mb-2">
            <a><img src="assets/payment/success.svg" style="width:300px;"></a>
        </div>
      <h1>Thank you </h1>
      <p class="lead w-lg-50 mx-auto">Your order has been placed successfully.</p>
      <p class="w-lg-50 mx-auto">Your order number is <em style="background-color: #ddd">{{ orderID }}</em> And we will immediatelly process your and
        it will be delivered in 2 - 7 business days.</p>
        <div class="container mx-auto mb-5 mt-5">
      <button type="button" class="btn btn-success" (click)="goBackToHome()">GO BACK TO HOME</button>
     </div>
    </div>
  </div>