

<div class="container-fluid row mx-auto mb-2">
    <div class="col-lg-10 col-md-10 col-sm-12 mx-auto align-items-center m-2  ">
      <h3>{{"Recommended Offer" | translate}}</h3>
       <a href="#"><img style="width: 100%;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/RecommendedOffer/recommended_en_web.jpg':'/assets/ar_images/recommended_ar_web.jpg'" alt="2B"></a>
    </div>
    

  </div>


    <!-- ************************************************************ -->

    <div class="container">
      <app-product-home></app-product-home>
    </div>