<!-- Home page  -->
<!-- Carousel => under Nav Bar  -->
<div class="row mb-2">
    <div class="col-1"></div>
    <div class="col-10">
      <div
        id="carouselExampleIndicators"
        class="carousel slide mx-auto"
        data-bs-ride="carousel"
        style="width: 96%"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="4"
            aria-label="Slide 5"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="5"
            aria-label="Slide 6"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="6"
            aria-label="Slide 7"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="7"
            aria-label="Slide 8"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="#"><img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/bank_mainbanner_en_web_new.jpg':'/assets/ar_images/caarmain_banner_ar_web.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/freeshipping_mainbanner_web_en.jpg':'/assets/ar_images/carrintel_mainbanner_web_ar_updated_new_27 (1).jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/giftcard_mainbanner_web_en.jpg':'/assets/ar_images/carro_mainbanner_ar_web_new.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/main_banner_en_web.jpg':'/assets/ar_images/carrprinterlap_banner_ar_web.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/sha_mainbanner_web_en.jpg':'/assets/ar_images/carrps5_mainbanner_web_ar.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
             
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/smartphones_mainbanner_web_en.jpg':'/assets/ar_images/carrsmartphones_mainbanner_web_ar.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"> <img
              
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/tvs_mainbanner_web_en.jpg':'/assets/ar_images/carrtvs_mainbanner_web_ar.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
          <div class="carousel-item">
            <a href="#"><img
              src=""
              [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/carsolShow1/ps5_banner_en_web.jpg':'/assets/ar_images/carrvictus_mainbanner_ar_web_new_updated.jpg'"

              class="d-block w-100"
              alt="2B"
            /></a>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{"Previous" | translate}}</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{"Next" | translate}}</span>
        </button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  
  <!-- ********************************************************* -->
  
  <!-- row poster   -->
  <div class="row mb-2">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="mx-auto container-fluid" style="width: 100%">
        <a href="#"> <img 
      src="assets/ImagesTemplet/rowAnnonce/gif_en_web.gif"
      [src]="localLang=='en'? 'assets/ImagesTemplet/rowAnnonce/gif_en_web.gif':'/assets/ar_images/gif_ar_web.gif'"

      
      class="d-block w-100"
      alt="2B"
    /></a>
  </div>    
    </div>
     <div class="col-1"></div>
  </div>
  
  
