 <header>
   <!-- <div class="container mx-auto" style="width: 100%;left: 0;">
    <img src="assets/ImagesTemplet/Home page/strip_web_en_new_updated home page.gif" alt="">
  </div>  -->
  <div class="page-header mx-auto" >
    <div class="panel-container mx-auto" >
      <div
        class="container panel d-flex justify-content-between align-items-center"
      >
        <div class="signing-links">
          <div
          *ngIf="isAuthorized"
          class="account-name d-inline me-4 position-relative pe-2"
        >
          Welcome, {{ currentUser?.unique_name }}!
          <span
            (click)="toggleMenu()"
            class="menu-toggler position-absolute"
          ></span>
          <ul class="menu position-absolute">
            <li class="p-2">
              <a class="text-decoration-none" href="/userProfile">My account</a>
            </li>
            <!-- <li class="p-2">
              <a href="/home/wishList" class="text-decoration-none"
                >My wishlist</a>
            </li> -->
            <li (click)="signOut()" class="p-2">
              <a class="text-decoration-none">Sign out</a>
            </li>
          </ul>
        </div>
          <span class="pointer me-3">{{"compare" | translate}}()</span>
          <a *ngIf="!isAuthorized" routerLink="/sign-in" class="me-3">{{"sign in" | translate}}</a>
          <a *ngIf="!isAuthorized" routerLink="user/account/create" class="me-3">{{"create an account" | translate}}</a>
          <!-- <a [routerLink]="['home/wishList']" class="language text-decoration-none" *ngIf="localLang == 'en'">
            Wishlist   
           </a> -->
           <a
           (click)="signOut()"
           class="pointer text-decoration-none"
           *ngIf="isAuthorized"
         >
           Sign out
         </a>
        </div>

        <a (click)="toggleLanguage()" class="language text-decoration-none" *ngIf="localLang == 'en'">
          <img src="assets/egypt-flag.png" alt="" />
          اللغة العربية
        </a>
        <a (click)="toggleLanguage()" class="language text-decoration-none" *ngIf="localLang == 'ar'">
          <img src="assets/USA-flag.png" alt="" />
          English
        </a>

      </div>
    </div>

    <div class="logo-search-cart">
      <div
        class="container py-4 d-flex justify-content-between align-items-center"
      >
        <a href="" class="logo d-block me-5">
          <img src="assets/logo.png" alt="" />
        </a>

        <form class="search position-relative me-5">
          <input
            type="text"
            class="form-control pe-5"
            [placeholder]="'Search...' | translate"
            name="searchResult"
            [(ngModel)]="searchQuery"
            (input)="setSearch($event)"
            #searchInput="ngModel"
            #searchValue
          />
          <div class="search-results position-absolute">
            <!-- Display the relevant data from 'result' object -->
            <span
            *ngFor="let item of searchResults"
              (click)="goToSearch($event, item)"
              class="pointer d-block px-2 py-1"
              >{{item}}</span
            >
          </div>
          <button
            class="search-logo position-absolute d-flex justify-content-center align-items-center border-0 text-white"
            (click)="search()"
            >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <a href="" class="me-5">
          <img src="assets/hotline.jpg" alt="" />
        </a>

        <a href="" [ngClass]="{'me-5': localLang == 'en'}">
          <img [src]="localLang == 'en' ? 'assets/stores_en.jpg' : 'assets/stores_ar.png'" alt="" />
        </a>


<!-- **** CART ***** -->
<div class="cart fs-1 me-3 position-relative" #cartIcon (click)="showCartDetails($event, cartIcon)">
  <i class="fa-solid fa-cart-plus"></i>
  <span class="items-num position-absolute">{{ totalOfOrder }}</span>

  <span class="dropdown-arrow position-absolute" #dropdownArrow></span>
  
  <div #dropdownDiv class="dropdown-div position-absolute d-flex justify-content-center align-items-center bg-white" id="cartDropDiv">
    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
      <!-- Loop through cart items and display card details -->
      <div class="container-fluid mt-20" style="max-height: 500px;overflow-y:auto;">
        <!-- Your card template goes here -->
        <div class="card mb-3 " style="border: 0;" *ngFor="let item of cartItems">
          <div class="row g-0">
            <div class="col-md-4 ">
              <img [src]="item.image" class="card-img-top" alt="Product Image" />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <a [routerLink]="'/product/' + item.id" id="productName">
                  <p class="card-title" style="font-size: xx-small;">{{ item.name }}</p>
                </a>
                <p class="card-text" style="font-size: x-small;">Price: {{ item.price | currency: "EGP" }}</p>
                <p>{{item.quantity}} {{ item.quantity === 1 ? 'item' : 'items' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- If cartItems is empty, show this message -->
    <ng-template #emptyCart>
      <div class="container">
        <div class="text-center mt-3 mb-3">{{"You have no items in your shopping cart." | translate}}</div>
      </div>
    </ng-template>

    <!-- Button placed after the cart items -->
    <ng-container *ngIf="cartItems.length > 0">
    <div class="button-cart mx-auto row mb-2 mt-4">
      <button type="button" class="btn mt-auto col-12" style="background-color: #ff6600;width:100%" [routerLink]="['/cart']">{{"VIEW CART" | translate}}</button>
    </div>
  </ng-container>

  </div>
</div>

      </div>
    </div>
    <app-nav-bar></app-nav-bar>

  </div>
</header>

