@model CategoryDTO
@{
    ViewData["Title"] = "Edit";
    //Layout = "_AdminDashboardLayout";
}

@section PageTitle {
    <title>2B - Categories</title>
}

<div class="container-fluid">
    <h2>Edit Category : <b>@Model.NameEN</b></h2>

    <form method="post" enctype="multipart/form-data">
        @*<input type="hidden" asp-for="Id" />*@
        <div class="form-group">
            <label asp-for="NameEN" class="form-label"></label>
            <input asp-for="NameEN" class="form-control" />
            <span asp-validation-for="NameEN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NameAR" class="form-label"></label>
            <input asp-for="NameAR" class="form-control" />
            <span asp-validation-for="NameAR" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionEN" class="form-label"></label>
            <textarea asp-for="DescriptionEN" class="form-control"></textarea>
            <span asp-validation-for="DescriptionEN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionAR" class="form-label"></label>
            <textarea asp-for="DescriptionAR" class="form-control"></textarea>
            <span asp-validation-for="DescriptionAR" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="form-label"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image" class="form-label"></label>
            <input type="file" asp-for="Image" class="form-control" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <button class="btn btn-success">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>

@section Scripts{
    <script>
        let sideLinks = document.querySelectorAll(".side-nav");
        sideLinks.forEach(e => e.classList.remove("active"));
        
        let activeLink = document.getElementById("categories");
        activeLink.classList.add("active");
    </script>
}
