

       <div class="container-fluid row mx-auto mb-2">
        <div class="container-fluid col-10 mx-auto">
          <div class="container-fluid row mx-auto justify-content-center align-items-center" style="flex-wrap: wrap;">
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a ><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_offers_en_web.jpg':'/assets/ar_images/1/offers.jpg'" alt=""></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a ><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_chargers_en_web.jpg':'/assets/ar_images/1/chargers_ar_web.jpg'" alt=""></a>
                
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a [routerLink]="['/home/category-details',1004]"><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_gaming_en_web.jpg':'/assets/ar_images/1/gaming.jpg'" alt="Gaming"></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a [routerLink]="['/home/category-details',1002]"><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_laptop_en_web.jpg':'/assets/ar_images/1/entry_laptop_ar_web.jpg'" alt="Laptop"></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center d-none d-md-block" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a [routerLink]="['/home/category-details',1015]"><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_mobile_en_web.jpg':'/assets/ar_images/1/Mobiles.jpg'" alt="Mobiles"></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-6 px-1 text-center d-none d-md-block" id="icon">
              <div style="margin: 2px; width: 100%; max-width: 130px; padding: 15px;">
                <a [routerLink]="['/home/subCategory-details',1043]"><img style="width: 100%; padding: 2px;" [src]="localLang=='en'? 'assets/ImagesTemplet/Home page/section3homepage/entry_storage_en_web.jpg':'/assets/ar_images/1/storage_ar_web.jpg'" alt="Storages"></a>
              </div>
            </div>
          </div>
        </div>
      </div> 


      